# 손익분기점

In [22]:
A,B,C=map(int,input().split())
count=1
if B>=C:print(-1)
else:
    while C*count<=A+B*count:
        count+=1 
    print(count)

3 2 1
-1

해당 코드는 논리적으로 맞으나 시간 초과로 실패함 ㅠㅠ..

In [23]:
#solution
A,B,C=map(int,input().split())
if B>=C:print(-1)
else:
    print(A//(C-B)+1)

3 2 1
-1

# 달팽이는 올라가고 싶다.

In [34]:
A,B,V=map(int,input().split())
if (V-B)%(A-B)==0:
    print(((V-B)//(A-B)))
else:print((V-B)//(A-B)+1)

100 99 1000000000
999999901

# ACM 호텔

In [74]:
for _ in range(int(input())):
    H,W,N=map(int,input().split())
    if H==W:
        if N%H==0:
            print(str(H)+"0"+str(N//H))
        else:
            print(str(N%H)+"0"+str(N//H+1))
    else:
        if N//H+1>=10:
            if N%H==0:
                print(str(H)+str(N//H))
            else:
                print(str(N%H)+str(N//H+1))
        else:
            if N%H==0:
                print(str(H)+"0"+str(N//H))
            else:
                print(str(N%H)+"0"+str(N//H+1))

2
6 12 10
402
6 12 60
610

반례를 못찾겠습니다....

# 소수구하기

In [82]:
N,M=map(int,input().split())
for i in range(N,M+1):
    for j in range(2,i//2+1):
        if i%j==0:
            break
    else:
        print(i) #안멈췄을때

3 16
3
5
7
11
13

->시간 초과(에라토스네스의 체를 사용하라네...에휴)

In [86]:
a,b = map(int,input().split())

li = [0]*(b+1)

for i in range(2,b+1):
    if li[i] == 0:
        if i >= a:
            print(i)
        for j in range(2*i,b+1,i):
            li[j] =1

3 16
3
5
7
11
13

i의 배수들은 다 1로 만드는 방식... ㅠㅠ어려워요

# 배열 -최댓값

In [94]:
a=[]
for _ in range(9):
    a.append(list(map(int,input().split())))
max=0
ii=0
jj=0
for i in range(9):
    for j in range(9):
        if a[i][j]>=max:
            max=a[i][j]
            ii=i
            jj=j
print(max)
print(ii+1,jj+1)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
4 6